/**
 * Created by TomasDePomas.
 * Using: PhpStorm
 * On: 18-10-16 - 23:43
 */

const firebaseConfig = {
    apiKey: "INSERT YOUR FIREBASE CREDENTIALS HERE",
    authDomain: "INSERT YOUR FIREBASE CREDENTIALS HERE",
    databaseURL: "INSERT YOUR FIREBASE CREDENTIALS HERE",
    storageBucket: "INSERT YOUR FIREBASE CREDENTIALS HERE",
    messagingSenderId: "INSERT YOUR FIREBASE CREDENTIALS HERE"
};